# caches y artefactos
.pnpm-store/
node_modules/
dist/
coverage/
workspace_modules/
.nx/
.angular/

# web/api específicos
web/dist/
web/node_modules/
api/dist/
api/node_modules/

# envs / docker
infra/docker/*.env
.env
.env.*
!.env.example

# IDE / SO
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
Thumbs.db
