<ion-header>
  <ion-toolbar><ion-title>Crear cuenta</ion-title></ion-toolbar>
 </ion-header>

 <ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Nombre completo</ion-label>
      <ion-input type="text" [(ngModel)]="fullName" name="fullName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <!-- Perfil de cliente -->
    <ion-item>
      <ion-label position="floating">RUT</ion-label>
      <ion-input type="text" [(ngModel)]="rut" name="rut"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre de contacto</ion-label>
      <ion-input type="text" [(ngModel)]="nombre_contacto" name="nombre_contacto"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="tel" [(ngModel)]="telefono" name="telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input type="text" [(ngModel)]="direccion" name="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Comuna</ion-label>
      <ion-input type="text" [(ngModel)]="comuna" name="comuna"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input type="text" [(ngModel)]="ciudad" name="ciudad"></ion-input>
    </ion-item>

    <ion-button expand="block" class="ion-margin-top" type="submit" [disabled]="loading">
      {{ loading ? 'Creando...' : 'Crear cuenta' }}
    </ion-button>

    <ion-button fill="clear" expand="block" (click)="goLogin()">¿Ya tienes cuenta? Inicia sesión</ion-button>
  </form>
 </ion-content>
