<ion-content class="home" fullscreen>
  <section class="hero">
    <ion-img src="assets/kingston-estampados.png" alt="logo" class="hero-logo"></ion-img>
    <h1>Kingston Estampados</h1>
    <p>DTF • Vinilo textil • Stickers • Poleras y más.</p>

    <div class="cta">
      <a routerLink="/cliente/nuevo-pedido">
        <ion-button>Crear pedido</ion-button>
      </a>
      <a routerLink="/login">
        <ion-button fill="outline">Iniciar sesión</ion-button>
      </a>
    </div>
  </section>
</ion-content>
