/* === Forzar modo claro para toda la app === */
:root {
  color-scheme: light;

  --ion-background-color: #ffffff;
  --ion-toolbar-background: #f2f04f;
  --ion-toolbar-color: #000000;

  --ion-text-color: #000000;
  --ion-item-background: #ffffff;
  --ion-card-background: #ffffff;
  --ion-content-background: #ffffff;

  --ion-color-primary: #ff0044;
  --ion-color-secondary: #f2f04f;
  --ion-color-medium: #555555;
}

/* Desactivar dark mode automático */
html.dark, body.dark, ion-app.dark, ion-content.dark {
  background: #fff !important;
  color: #000 !important;
}

ion-content {
  --background: #ffffff !important;
}

ion-item, ion-input, ion-label {
  background: #fff !important;
  color: #000 !important;
}
