<ion-content class="forgot">
  <div class="box">
    <h1 class="title">Recuperar contraseña</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="stacked">Correo electrónico</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-button expand="block" class="ion-margin-top" [disabled]="form.invalid || sending()" type="submit">
        Enviar instrucciones
      </ion-button>
      <ion-button routerLink="/login" fill="clear" expand="block">Volver al inicio de sesión</ion-button>
    </form>
  </div>
</ion-content>

