<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Salir</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ng-container *ngIf="loading">Cargando...</ng-container>
  <ng-container *ngIf="!loading && error">{{ error }}</ng-container>

  <ng-container *ngIf="!loading && !error">
    <h2>¡Bienvenido!</h2>
    <p *ngIf="me">
      Email: <strong>{{ me.email }}</strong><br />
      Rol: <strong>{{ me.role }}</strong>
    </p>
    <ion-button (click)="fetchMe()">Refrescar /me</ion-button>
  </ng-container>
</ion-content>
